@import url("font-face.css");

:root {
    --main-color: #393939;
    --sec-color: #dbd8d0;
    --bg-color: #ffffff;

    --font: 'Uncut Sans', sans-serif;
}

html {
    font-family: var(--font);
    font-size: 16px;
    color: var(--main-color);
    background-color: transparent;
}

a,
a:hover,
a:active {
    font-family: var(--font);
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: 32px;
    font-family: var(--font);
    color: var(--main-color);
}

h2 {
    font-size: 21px;
    font-family: var(--font);
    color: var(--main-color);
}

h3,
h4,
h5 {
    font-size: 17px;
    font-family: var(--font);
    color: var(--main-color);
}

p,
li,
dt,
dd,
span,
time {
    font-family: var(--font);
    color: var(--main-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

header {
    background-color: var(--bg-color);
    padding: 10px 50px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

footer {
    padding: 20px;
    border-top: 1px dashed var(--main-color);
    background-color: var(--bg-color);
    position: absolute;
    width: 100%;
    z-index: 99999;
}

footer dl {
    margin: 0;
    display: table;
}

footer dt,
footer dd {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}

nav {
    padding: 3px 0px 5px;

}

nav ul li {
    font-size: 21px;
}

main {
    padding: 50px;
}

section {
    border-bottom: 1px dashed var(--main-color);
    padding: 20px 0px;
}

figure figcaption {
    font-family: var(--font);
    font-size: 24px;
    padding-top: 10px;
}

aside {
    position: fixed;
    width: calc(25% - 25px);
    height: 100%;
    padding-top: 70px;
    padding-right: 25px;
    border-right: 1px dashed var(--main-color);
    top: 0;
    z-index: 9998;
}

span {
    background-color: var(--sec-color);
    padding: 5px 10px;
    margin-right: 8px;
    margin-top: 5px;
    font-size: 14px;
    display: inline-block;
}

time {
    font-size: 21px;
    text-align: right;
}

.intro-spacer {
    height: 150px;
}

.sec-spacer {
    height: 60px;
}

.sec-cap {
    height: 100%;
    position: relative;
}

.sec-title {
    font-size: 32px;
    padding-left: 20px;
    margin: 0px;
    position: absolute;
    bottom: -5px;
}

.img-grid figure {
    padding-top: 20px;
}

.portfolio-list {
    padding-bottom: 100px;
}

.portfolio-list a:last-child section {
    border-bottom: none;
}

.column {
    border-left: 1px dashed var(--main-color);
    padding: 0px 25px;
    height: 100%;
}

.column h1 {
    margin-bottom: 80px;
}

.column .cell:last-child {
    margin-bottom: 0px;
}

.column .sheet:last-child {
    margin-bottom: 0px;
}

.cell {
    margin-bottom: 50px;
}

.cell-date {
    text-align: right;
}

.sheet {
    box-sizing: content-box;
    width: 100%;
    padding: 15px;
    margin-left: -15px;
    margin-bottom: 60px;
}

.sheet:has(.show) {
    background-color: var(--sec-color);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.sheet span {
    background-color: var(--bg-color);
}

.sheet .toggle-but:after {
    content: '× fechar';
}

.sheet .collapsed .toggle-but:after {
    content: '+ ver mais';
}

.sheet .collapsed .toggle-but {
    background-color: var(--sec-color);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.sheet .cell {
    border-bottom: 1px dashed var(--main-color);
    margin-bottom: 5px;
}

.sheet h3 {
    font-size: 17px;
}

.sheet h4 {
    font-size: 15px;
    margin-bottom: 0px;
}

.sheet p {
    font-size: 15px;
}

.work-intro {
    box-sizing: border-box;
    height: calc(100vh - 120px);
    text-align: center;
}

.work-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.work-cover img {
    max-height: 60vh;
    width: auto;
}

.work-desc {
    padding: 50px;
}

.work-desc p {
    margin-bottom: 0px;
}

.work-list {
    background-color: var(--bg-color);
    border-top: 1px dashed var(--main-color);
    padding-bottom: 80px;
    text-align: center;
}

.work-photo {
    height: 400px;
    max-width: 900px;
    padding: 0px;
    margin: 100px auto;
}

.work-photo img {
    max-height: 100%;
    width: auto;
}

.work-label {
    border-bottom: 1px dashed var(--main-color);
    padding-bottom: 3px;
    text-align: left;
    min-height: 40px;
}

.work-label p {
    font-size: 16px;
    margin-bottom: 0px;
}

.work-label .mini {
    font-size: 12px;
}

.work-flex {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.work-comp {
    display: none;
}

.toggle-but {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.cap {
    font-size: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.cap-low {
    text-transform: lowercase;
}

.cap-upper {
    text-transform: uppercase;
    font-size: 9px;
}

.cap-under {
    border-bottom: 1px dashed var(--main-color);
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.credit {
    padding-bottom: 10px;
}

.img-grid {
    padding: 30px 0px 300px;
}

.dropdown-menu {
    border-radius: 0;
    width: 100%;
    border: none;
    border-bottom: 1px dashed var(--main-color);
}

.dropdown-menu li {
    padding: 5px 0px;
}

.dropdown-menu li:hover {
    background-color: var(--sec-color)
}

.dropdown-toggle::after {
    border: solid var(--main-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hidden {
    display: none;
}

#brand {
    text-transform: uppercase;
    font-size: 26px;
}

#brand a {
    white-space: nowrap;
}

#brand a:hover {
    text-decoration: underline;
}

#menu a {
    padding-left: 20px;
}

#menu a:hover {
    text-decoration: underline;
}

#footnote {
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
}

@media (max-width: 1199px) {

    footer dt {
        padding-left: 0;
        font-family: var(--font);
    }

    footer dl {
        padding-bottom: 25px;
        font-family: var(--font);
    }

    footer p {
        padding-bottom: 25px;
    }

    aside p {
        font-size: 14px;
    }

    .img-grid {
        padding: 15px 0px 150px;
    }

    .portfolio-list {
        padding-bottom: 40px;
    }

    .work-label p {
        font-size: 14px;
    }

    .work-comp {
        display: block;
    }

    .work-full {
        display: none;
    }

}

@media (max-width: 991px) {

    h1 {
        font-size: 28px;
    }

    header {
        padding: 0px;
    }

    footer {
        z-index: -1;
    }

    main {
        padding: 60px 20px 50px;
    }

    aside {
        display: none;
    }

    footer dt {
        min-width: 200px;
    }

    .column {
        padding: 0px;
        border: none;
    }

    .column h1 {
        padding-bottom: 5px;
        border-bottom: 1px dashed var(--main-color);
    }

    .sheet {
        padding: 10px;
        margin-left: -10px;
    }

    .portfolio-list section {
        padding-top: 40px;
    }

    .sec-title {
        position: static;
        padding-left: 0px;
        padding-top: 5px;
        font-size: 28px;
    }

    .intro-spacer {
        height: 50px;
    }

    .sec-spacer {
        height: 10px;
    }
    
    .work-intro {
        height: auto;
    }
    
    .work-cover {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0%,0%);
        margin: 60px 0;
    }
    
    .work-cover {
        width: 100%;
        height: auto;
    }

    .work-flex {
        width: 100%;
    }

    .work-photo {
        width: 100%;
        height: auto;
        margin: 80px auto;
    }

    .hidden {
        display: block;
    }

    .hidden-title {
        padding-top: 70px;
    }

    .full-only {
        display: none;
    }

    .accordion-button {
        color: var(--main-color);
        padding: 0px 0px 5px;
        font-size: 28px;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--bg-color);
        color: var(--main-color);
        box-shadow: none;
    }

    #menu {
        display: none;
    }

    #footnote {

        position: static;
        border-top: 1px dashed var(--main-color);
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: left;
    }

    #header-bar {
        padding: 10px 20px;
        background-color: var(--bg-color);
        border-bottom: 1px dashed var(--main-color);
    }
}

@media (min-width: 992px) {

    footer dt:after {
        content: ' →';
    }

    .accordion-button {
        display: none;
    }
}

@media (max-height: 700px) {

    aside p {
        font-size: 14px;
    }
}

@media (max-height: 650px) {

    aside p {
        font-size: 13px;
    }
}

@media (max-height: 600px) {

    aside p {
        font-size: 12px;
    }
}

@media (max-height: 550px) {

    aside p {
        font-size: 11px;
    }
}

@media (max-height: 500px) {

    aside p {
        font-size: 10px;
    }
}
